.profileContainer {
  max-width: 935px;
  margin: 0 auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #262626;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.avatarContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
